.main_chat
  .main_chat__group-info
    .main_chat__group-info-box
      .main_chat__group-info-box__left-text
        = @group.name
      .main_chat__group-info-box__left-name
        Member :
        - @group.users.each do |u|
          = u.name
    = link_to edit_group_path(@group.id) do
      .main_chat__group-info-box__right
        Edit
        .main_chat__group-info-box__right-btn
  .main_chat__message-list
    .messages
      = render @messages
  .main_chat__form
    = form_for [@group, @message] do |f|
      .main_chat__form__input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'area__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'area__image__file'
      = f.submit 'Send', class: 'submit-btn'
  

