.side_bar
  .side_bar__user-name
    .side_bar__user-name__area
      .side_bar__user-name__area__box
        %p.side_bar__user-name__area__box__text 
          = current_user.name
        %p.side_bar__user-name__area__box__icon      
          = link_to new_group_path do
            = icon('far', 'edit')          
          = link_to destroy_user_session_path, method: :delete do
            = icon('fas', 'cog')            
  .side_bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group.id) do
        .side_bar__group-list__body
          .side_bar__group-list__body__title
            = group.name
          .side_bar__group-list__body__text
            = group.show_last_message
